body {
  margin: 0;
  font-family: "Georgia", serif;
  background: black;
  color: white;
}

header {
  background: black;
  text-align: center;
  padding: 30px;
  border-bottom: 3px solid red;
}

header h1 {
  color: red;
  font-size: 50px;
}

nav {
  background: #0f0f0f;
  text-align: center;
  padding: 15px;
}

nav a {
  color: red;
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-shadow: 0 0 8px red;
}

.hero {
  background: url("images/got-bg.jpg");
  background-size: cover;
  padding: 80px;
  text-align: center;
}

.hero h2 {
  color: red;
  font-size: 40px;
  text-shadow: 2px 2px 10px black;
}

.hero p {
  color: white;
}

.hero button {
  padding: 15px 25px;
  background: red;
  border: 2px solid darkred;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.hero button:hover {
  background: darkred;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #050505;
}

.box {
  background: #0b0b0b;
  border: 2px solid red;
  padding: 25px;
  width: 25%;
  text-align: center;
  box-shadow: 0 0 10px red;
}

.box h3 {
  color: red;
}

footer {
  background: black;
  color: red;
  text-align: center;
  padding: 15px;
  border-top: 2px solid red;
}
